@import url('reset.css');
@import url("fonts/stylesheet.css");

/*-----------------------------------------------------------------------------
Angelina Allen's Portfolio

version:   1.0
author:    Angelina Allen
email:     angelina@angelinaallen.com
website:   http://angelinaallen.com
-----------------------------------------------------------------------------*/



/* Remove border around linked images */

a img {
	border: 0;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #1f2422;
	margin-top: 30px;
}

body {
	font-family: Verdana, sans-serif;
	background: #171a1a url(../images/body.png) top center repeat-y;
}

#mast-head,
#mast-slideshow,
#mast-content {
	width: 100%;
	margin: 0 auto;
}

#mast-head {
	border-bottom: 1px solid #484949;
}

#mast-slideshow {
	border-top: 1px solid #000;
	border-bottom: 1px solid #484949;
	background: #171b19
}

#mast-content {
	border-top: 1px solid #000;
}


/*-----------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------*/

#header {
	padding-bottom: 20px;
	width: 89.0625%;
	margin: 0 auto;
}

h1 a {
	background: url(../images/logo.png) top left no-repeat;
	height: 60px;
	width: 18%;
	text-decoration: none;
	text-indent: -9999px;
	display: block;
}

/*-----------------------------------------------------------------------------
Slideshow
-----------------------------------------------------------------------------*/

#slideshow {
	width: 89.0625%;
	margin: 0 auto;
	padding-top: 20px;
	height: 575px;
	position: relative;
	overflow: hidden;
}

#nav {
	margin-left: 45px;
}

#nav a {
	font: 75px "GillSansBoldItalic";
	color: #def7fe;
	line-height: 100px;
	text-decoration: none;
	float: left;
	margin-right: 55px;
}

#nav a:hover {
	text-decoration: underline;
}

/*-----------------------------------------------------------------------------
Slides
-----------------------------------------------------------------------------*/

#slides {
	position: absolute;
	width: 450px;
	margin-top: 120px;
}

.slide {
	width: 825px;
	height: 425px;
	background: #131716;
	border: 5px solid #000;
}

#welcome {
	font: 125px "GillSansRegular";
	color: #ece96a;
	padding: 30px 0 0 50px;
	line-height: 123px;
}

#about {
	font: 38px "Verdana";
	color: #ece96a;
	padding: 30px 30px 30px 30px;  
	line-height: 40px;
}

/*-----------------------------------------------------------------------------
Form
-----------------------------------------------------------------------------*/
 .error {
	color: red;
	font-size: 24px;
	margin-top: 50px;
	width: ;
	display: block;
	position: absolute;
	left: 94px;
	
}
 .success {
	color: green;
	font-size: 24px;
	margin-top: 50px;
	width: ;
	display: block;
	position: absolute;
	left: 94px;
 }

#form {
	color: #ece96a;
	padding-left: 40px;
}

form {
	border: none;
	margin-top: 20px;
}

label {
	font-size: 24px;
	display: block;
	position: absolute;
	margin-top: 20px;
	margin-right: 20px;
	}

input {
	background-color: #000;
	color: #ece96a;
	font: 12px Verdana, sans-serif;
	border: none;
	height: 35px;
	padding-left: 10px;
	width: 350px;
	display: block;
	margin-left: 100px;
	margin-bottom: 5px;
}

textarea {
	background-color: #000;
	color: #ece96a;
	font: 12px Verdana, sans-serif;
	border: none;
	resize: none;
	width: 350px;
	height: 200px;
	padding-left: 10px;
	padding-top: 20px;
	display: block;
	margin-left: 100px;

}

#submit {
	background-color: #ece96a;
	color: #000;
	font: 12px Verdana, sans-serif;
	display: block;
	position: absolute;
	margin-top: 8px;
	width: 350px;
}

#links {
	font: 26px "GillSansBold";
	margin-top: -310px;
	float: right;
	padding-right: 10px;
	margin-right: 15px;	
}

#links ul{
}

#links ul li{
	text-align: center;
	width: 300px;
	margin-bottom: 6px;
	padding-top: 15px;
}

#links ul li a {
	text-decoration: none;
	color: #000;
	
}

#links ul li a:hover {
	opacity: 0.4;
}

#email_link {
	background: #efec6a;
	height: 44px;

}

#resume {
	background: #d3ebf1;
	height: 44px;

}

#vcard {
	background: #efec6a;
	height: 44px;

}

#twitter {
	background: #d3ebf1;
	height: 44px;

}

#linkedin {
	background: #efec6a;
	height: 44px;
	}

#google {
	background: #d3ebf1;
	height: 44px;

}

/*-----------------------------------------------------------------------------
Projects
-----------------------------------------------------------------------------*/

#content {
	width: 825px;
	margin: 0 auto;
}

.project {
	width: 800px;
	margin-top: 80px;
	overflow: hidden;
}

.project_info {
	height: 500px;
	margin-bottom: 25px;
}

/*-----------------------------------------------------------------------------
Projects titles
-----------------------------------------------------------------------------*/

.project_name {
	font: 58px "GillSansBold";
	color: #efec6a;
	text-shadow: #000 0 0 5px;
	float: left;
	margin-bottom: 20px;
	
}

#streetcar {
	font-size: ;
}

#cwtk {
	height: ;
}

#wco {
	height: ;
}
/*-----------------------------------------------------------------------------
Projects classes
-----------------------------------------------------------------------------*/

.project_about {
	float: left;
	font: 42px "GillSansBold";
	color: #efec6a;
	text-shadow: #000 0 0 5px;
	width: 800px;
}
.role_info {
	float: left;
	width: 15.625%;
}

.role {
	float: left;
	padding-bottom: 5px;
	font: 52px verdana;
	color: #efec6a;
	text-shadow: #000 0 0 5px;
}

.role_about {
	float: left;
	margin-left: 55px;
	font: 42px "GillSansItalic";
	color: #efec6a;
	text-shadow: #000 0 0 5px;
	padding-bottom: 25px;
	width: 600px;
}

/*-----------------------------------------------------------------------------
Projects images
-----------------------------------------------------------------------------*/

.project_images {
	width: 800px;
	margin-top: 50px;
}

.project_images ul li {
	padding-bottom: 40px;
}

.col1 {
	float: left;
	width: 800px;
}

.col2 {
	display: none;
	float: left;
	margin-left: 63px;
	width: 27.34375%;
}
.scrollable {
	display: none;
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 57.96875%;
	height:493px;
}

li#scrollable {
	display: none;
	position:relative;
	margin-top: 40px;
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	display: none;
	/* this cannot be too large */
	width:562.5em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	display: none;
	float:left;
}

a.prev {
	display: none;
	display: block;
	position: absolute;
	top: 150px;
	left: 10px;
	z-index: 99;
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
	filter:alpha(opacity=25);
	
	
}

.prev, a:hover {
	display: none;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
	text-decoration: none;
	cursor: pointer;
	
}

a.next {
	display: none;
	display: block;
	position: absolute;
	top: 150px;
	left:  680px;
	z-index: 99;
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
	filter:alpha(opacity=25);
}

.next, a:hover {
	display: none;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
	text-decoration: none;
	cursor: pointer;
}



#footer {
	clear: both;
	height: 80px;
	background: #171b19 url(../images/footer.png) no-repeat left;
	margin-bottom: 50px;
	text-align: center;
	border-top: 1px solid #484949;
	border-bottom: 1px solid #484949;
}

#footer p {
	color: #efec6a;
	font-family: verdana, "sans sarif";
	padding-top: 30px;
}

/*-----------------------------------------------------------------------------
Resume
-----------------------------------------------------------------------------*/
#right_col {
	width: 39.0625%;
	float: left;
	margin-left: 25px;
	margin-bottom: 50px;
}

#left_col {
	width: 23.4375%;
	float: left;
	margin-right: 50px;
	margin-left: 75px;
}

.res_header {
	font: 24px "GillSansBold";
	margin-bottom: 15px;
	color: #efec6a;
	text-shadow: #000 0 0 5px;
}

.job_title {
	font: 18px "GillSansItalic";
	color: #def7fe;
	margin-bottom: 10px;
}

.time_worked {
	font: 18px "GillSansRegular";
	color: #efec6a;
	padding-bottom: 10px;
}

p {
	font: 14px "GillSansRegular";
  	color: #efec6a;
  	margin-bottom: 25px;
  	line-height: 16px;
  	
}

#contact_info {
	font: 18px "GillSansRegular";
	color: #def7fe;
	margin-top: 25px;
	margin-bottom: 25px;

	
}

#my_title {
	font: 24px "GillSansBold";
	color: #def7fe;
	margin-bottom: 10px;
}

#contact_info ul{
	overflow: hidden;
	margin-bottom: 10px;
}

#contact_info ul li{
	float: left;
	margin-right: 15px;
}

#contact_info ul li a {
	font: 18px "GillSansRegular";
	color: #def7fe;
	text-decoration: none;

}

#contact_info ul li a:hover {
	border-bottom: 1px solid #def7fe;
	clear: none;
}
/*-----------------------------------------------------------------------------
404
-----------------------------------------------------------------------------*/

h2#header_404 {
	font: 75px "GillSansBoldItalic";
	color: #def7fe;
	border-top: 5px solid #151818;
	margin-top: 50px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#video {
	margin-left: 150px;
	margin-bottom: 25px;
}

.class_404 {
	margin-left: 150px;
	width: 75%;
	margin-bottom: 50px;
}

#content_404 {
	font-size: 24px;
	line-height: 28px;
}

ul#links_back li a{
	text-decoration: none;
	font: 24px "GillSansBoldItalic";
	color: #def7fe;
}

ul#links_back li a:hover{
	border-bottom: 1px solid #def7fe;
}